.imagem-convenio {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
}

* {
    margin: 0;
    padding: 0;
}

section {
    display: table;
    width: 100%;
}

.tela-inteira {
    height: 100vh;
}

.content {
    display: table-cell;
    vertical-align: middle;
}